* {
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-color: blueviolet;
}

header {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 16px;
}

nav {
  /* background-color: #EF7D19; */
}

ul {
  display: flex;
  height: 100%;
  align-items: center;
}

nav ul li {
  padding-left: 16px;
  list-style-type: none;
}

main {
  padding: 20px;
  margin: 0 auto;
  width: 900px;
}

.painel {
  display: flex;
  
}

.caixa {  
  background-image: url(img/bg_laranja.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding: 20px;
  margin: 10px;
  width: 300px;
  height: 200px;
  border-radius: 20px;
 }

 h1 {
  font-size: 4rem;
 }

 h2 {
  font-size: 1.5rem;
 }

 h3 {
  font-size: 1.2rem;
 }
 