h1 {
    color: blue;
    background-color: #a2a2ca;
}

div {
    background-color: lightgray;
    margin: 40px;
    padding: 20px;
    border: solid black 8px;
}

p {
    background-color: rgb(20, 200, 80);
}

.caixa-meio {
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 60px;
    padding-left: 80px;

    margin-top: 80px;
    margin-right: 60px;
    margin-bottom: 40px;
    margin-left: 20px;
}